/* ------------STYLING MAIN------------- */ 

/*wrapper container and headers */ 

.container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    margin: 10px;
    padding: 15px;
}

/*this will only apply to language contianer here */ 
.language > article {
    flex: 1;
    align-self: center;

}
.container > h1{
    background-color: #7FB77E;
    border: 1px solid #7FB77E; 
    border-radius: 20px; 
    padding: 10px 20px;
    flex-basis: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.container:hover > h1{ 
    background-color: #FFC090;
}

/*space and padding within the boxes of the active container */ 
.active .box{
    margin: 10px;
    padding: 15px;
}

.box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

 .box article{ 
    align-self: center;
    flex: 1;
}

article > p{ 
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 300;
    text-indent: 50px;
}

#spanish{
    height: 300px;
    width: 300px;
}

#swim{
    width: 200px;
    height: 142px;
}

#skate{
    width: 200px;
    height: 250px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    column-gap: 5px;
    margin: 0px 10px;
}

.grid > *{
        max-width: 100%;
    }   

.clip{
    width: auto;
    height: 300px;
    background-color: lightblue;
    border: 1px solid darkblue;
    border-radius: 5px;
}

@media screen and (max-width: 600px){
    .grid{
        display: block;
    }
}
